.coinRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coinRow p {
  padding: 0 30px;
}

@media (max-width: 768px) {
  .coinRow {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
  }

  .cryptoImg {
    margin-bottom: 10px;
  }

  .coinRow p {
    text-align: left;
    padding: 5px 0;
  }
}

@media (max-width: 480px) {
  .coinRow {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 0.5rem;
    padding: 5px;
  }

  .cryptoImg img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }

  .coinRow p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .coinRow p:nth-child(4),
  .coinRow p:nth-child(5),
  .coinRow p:nth-child(6) {
    display: none;
  }
}
